---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Contact | M4N!X">
  <section class="container">
    <h1>Contact</h1>

    <p>
      For orders or project inquiries, email:
      <br /><br />
      <a href="mailto:welcometeamx@gmail.com">
        welcometeamx@gmail.com
      </a>
    </p>
  </section>
</Layout>
